<!DOCTYPE html>

{% extends "base.html" %}
  {% block body_block %}
    <div class="jumbotron">
        <h1>Scheduling Task</h1>
        <p>Enter your profile</p>
        <p>It will create new user if username not exists</p>
        <p>it will update all profiles of same user</p>
        <p>newly added profile will be on highest priority</p>
        <p>it will also sort all profiles of same user</p>        
    </div>

    {% for i in profiles %}
      {{i.profile}}
      {{i.sDate}}
      {{i.eDate}}
    {% endfor %}

  {% endblock %}
