<!DOCTYPE html>

{% extends "base.html" %}
  {% block body_block %}
    <div class="jumbotron">

        <h1>Enter user profile here !!!</h1>
        <br>   
        
        
        <form method = "POST"> 
            {{form.as_p}}
            {% csrf_token %}
            <li>
              {{myerror}}
            </li> 
            <br>
        <input type = "submit" class= "btn btn-secondary" value = "Submit"> 
        </form>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-info" href="{% url "all_profile" %}">Go to all user profiles</a>
        
    </div>
  {% endblock %}
